@import "tailwindcss";

@theme {
  --color-darkgray: #404040;
  --color-beige-normal: #f0ebe6;
  --color-yellow-normal: #fce4a5;
}

html {
  color: #404040;
  overscroll-behavior: none;
}

body {
  overflow-y: auto;
  padding-top: env(safe-area-inset-top);
}
