@import "tailwindcss";

@theme {
  --color-darkgray: #404040;
  --color-beige-light: #fbfaf9;
  --color-beige-normal: #f7f5f3;
  --color-yellow-normal: #fce4a5;
}

html {
  color: #404040;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  overflow-y: auto;
  padding-top: env(safe-area-inset-top);
}
